/*.red-bg{*/
/*    background: palevioletred;*/
/*}*/

body{
    background-color: #58ABA2;
}

.card{
    background-color: #DEE5D3;
}

.form{
    background-image: url("https://image.freepik.com/free-vector/dark-graphic-wavy-wallpaper_23-2148400270.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.deleteIcon{
    background-image: url("../assets/images/deleteIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4vh;
    width: 4vw;
}