
<div style="background-color: #3B3C48">
    <nav class="navbar navbar-expand-lg " >
        <a class="navbar-brand" href="{{ path ('home') }}"><img style="height: 5vh;width: 5vw; object-fit: contain" src="{{ asset('assets/images/JulienLogo.jpg') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <a class="nav-item nav-link {{  app.request.pathInfo == '/' ? 'active' : '' }}" href="{{ path('home') }}">Home</a>

        </div>
    </nav>
</div>